<h1>Editing payroll calendar</h1>

<%= render "form", payroll_calendar: @payroll_calendar %>

<br>

<div>
  <%= link_to "Show this payroll calendar", @payroll_calendar %> |
  <%= link_to "Back to payroll calendars", payroll_calendars_path %>
</div>
